<div class="channel-links-container">
  <% channels.order(last_action_at: :desc).each do |channel| %>
    <%= link_to(
      channel_path(channel),
      class: "channel-link#{user&.unread_message_count(channel: channel) != 0 ? ' fw-bold' : nil}",
      data: {
        turbo_frame: "_top",
        "channel-link": true,
        "channel-name": channel.name
      }
    ) do %>
      <div class="m-3">
        <p class="h4">
          <%= channel.name %>
          <%= helper_unread_message_count(
            user: user,
            channel: channel
          ) %>
        </p>
        <p class="fst-italic">
          <% if channel.messages.any? %>
            <%= helper_short_message(message: channel.latest_message.body) %>
          <% else %>
            No messages sent yet
          <% end %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
