<div class="channel-links-container">
  <% channels.each do |channel| %>
    <%= link_to(
      channel_path(channel),
      class: "channel-link",
      data: {
        turbo_frame: "_top",
        "channel-link": true,
        "channel-name": channel.name
      }
    ) do %>
      <div class="m-3">
        <p class="h4"><%= channel.name %></p>
        <p class="fst-italic">
          Placeholder 'last message sent'
        </p>
      </div>
    <% end %>
  <% end %>
</div>
