<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#channelList" aria-controls="channelList">
  <i class="bi bi-chevron-left"></i>
  <%= local_assigns[:button_label] ? button_label : "Browse" %>
</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="channelList" aria-labelledby="Channel list">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="channel-list-container offcanvas-body">
    <%= render partial: "chats/current_user_channel_list",
      locals: {
        user: user,
        channels: local_assigns[:channels] || user.chat_channels,
        turbo_id: "mobile-channel-list"
      }
    %>
  </div>
</div>
