<div class="alert alert-success alert-dismissible fade show" role="alert">
  Thanks for reporting the issue. Our team will look into it ASAP.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
