<%= turbo_frame_tag "eligible-countries" do %>
  <div class="mb-3">
    <p><strong>Eligible countries</strong></p>
    <% visa.eligible_countries.each do |eligible_country| %>
      <div class="eligible-country-container">
        <%= eligible_country.name %>
        <%= button_to(
           country_location_visa_eligible_countries_for_visa_path(
             EligibleCountriesForVisa.find_by!(
               visa: visa,
               eligible_country: eligible_country,
             ),
             visa_id: visa.id,
             location_id: location_id,
             country_id: country_id,
           ),
           method: :delete,
           class: "delete-button ms-2",
           aria: {
             label: "Remove eligible country"
           }
        ) do %>
          <i class="bi bi-x-circle-fill" aria-hidden="true"></i>
        <% end %>
        <br />
      </div>
    <% end %>
  </div>
<% end %>
