<div class="container mt-3">
  <% if flash[:notice].present? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="home-hero py-3">
    <div>
      <h1>Where to next?</h1>
    </div>
  </div>

  <%= render partial: "search_locations/location_search_section",
    locals: {
      region: @region,
      country: @country,
      locations: @locations,
    }
  %>
</div>

<%
  set_meta_tags(
    title: "A digital nomad toolkit and community",
    description: "Whether you're researching your next Digital Nomad destination, wanting to make online or in person connections or figuring out which visas you're eligible for, Nomadstation provides everything you need as a modern traveller.",
    index: true,
    follow: true
  )
%>
