<% # TODO move these styles into a class" %>
<div class="py-3" style="width: 100%; display: flex; justify-content: center">
  <div>
    <h1>Where to next?</h1>
  </div>
</div>

<%= render partial: "search_locations/location_search_section",
  locals: {
    region: @region,
    country: @country,
    locations: @locations,
  }
%>
