<div class="container mt-3">
  <%= render partial: "home/alerts" %>

  <div class="home-hero py-3">
    <div>
      <h1>Where to next?</h1>
    </div>
  </div>

  <%= render partial: "search_locations/location_search_section",
    locals: {
      region: @region,
      country: @country,
      locations: @locations,
    }
  %>
</div>

<%
  set_meta_tags(
    title: "A digital nomad toolkit and community",
    description: "Whether you're researching your next Digital Nomad destination, wanting to make online or in person connections or making your personalised journal entries, Nomadstation provides everything you need as a modern traveller.",
    index: true,
    follow: true
  )
%>
