<% content_for :page_title do %>
  <%= @location.name %>, <%= @location.country.name %>
<% end %>

<%= render partial: "locations/header",
  locals: {
    location: @location,
  }
%>

<%= render partial: "locations/tabs",
  locals: {
    location: @location,
  }
%>

<div class="container mt-5">
</div>
