.chat-channel-section {
  flex: 1;

  display: flex;
  flex-direction: column;

  .channel-header {
    flex: 0;
    border-bottom: 1px solid $primary;
  }

  .channel-message-section {
    flex: 1 0 0;
    overflow: scroll;

    display: flex;
    flex-direction: column-reverse;

    .chat-message {
      .message-actions-container {
        display: none;
        flex-direction: row;
        align-items: center;

        a, button {
          display: flex;
        }

        .delete-icon {
          color: $danger;
        }
      }

      &:hover {
        .message-actions-container {
          display: flex;
        }
      }

      p {
        margin: 0.25rem; // reset margin
        padding: 0.5rem 0.75rem;
        border-radius: 1.5rem;

        color: $white;
        background-color: $primary;
      }

      &.chat-message-current-user {
        display: flex;
        flex-direction: row-reverse;
      }

      .message-body {
        white-space: pre-line;
      }

      .replying-to {
        color: $white;
        font-size: 0.75rem;
      }
    }
  }

  .channel-message-form-section {
    flex: 0;
    border-top: 1px solid $primary;

    .channel-message-form {
      display: flex;
      flex-direction: row;

      .channel-message-textarea {
        flex: 1;
      }

      .channel-message-button-container {
        min-width: 6rem;
        flex: 0;
      }
    }

    .reply-to-section {
      display: none;
      flex-direction: row;

      p {
        flex: 1;
      }
    }

    .error-scroll-to-reply {
      display: none;
      color: $danger;
    }
  }
}
