@import 'stream-chat-react/dist/scss/v2/index.scss';

body {
  height: 100vh;
}

.chat-root {
  display: flex;

  .str-chat__channel {
    flex: 1;
  }

  .str-chat-channel-list {
    width: 20vw;
  }
}

.str-chat {
  --str-chat__primary-color: #262626;
  --str-chat__own-message-bubble-background-color: #262626;
  --str-chat__own-message-bubble-color: white;
}

.str-chat__message--me {
  --str-chat__message-mention-color: white;
}

.str-chat__message-input {
  position: abolute;
  bottom: 0.5rem;
}

.str-chat__list {
  min-height: 75vh;
  max-height: 75vh;
  overflow: scroll;
}

.str-chat__thread {
  max-width: 30vw;
}

