body {
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;

  .navbar {
    flex: 0;
  }

  .chat-screen-container {
    flex: 1;

    .chat-message-section {
      display: flex;
      flex-direction: column;

      border-left: 1px solid $primary;

      &.no-chat {
        justify-content: center;
        align-items: center;
      }
    }

    .channel-list-container {
      display: flex;
      flex-direction: column;

      &.offcanvas-body {
        padding: 0;
      }

      .channel-list-frame {
        flex: 1;

        display: flex;
        flex-direction: column;
      }

      .channel-list {
        flex: 1;

        display: flex;
        flex-direction: column;

        .channel-links-container {
          flex: 1 0 0;
          overflow: scroll;

          display: flex;
          flex-direction: column;

          .channel-link {
            border-bottom: 1px solid $primary;
            text-decoration: none;

            &:hover {
              background-color: lighten($primary, 70%);
            }
          }
        }

        .channel-list-actions {
          flex: 0;

          display: grid;
        }
      }
    }
  }
}

