a.location-search-result-link {
  text-decoration: none;

  &:hover {
    .card {
      border: var(--bs-card-border-width) solid  $primary;
    }

    .card-body {
      color: $primary;
    }
  }
}

.location-card {
  .card-body {
    max-height: 200px;
    overflow: hidden;
  }

  .card-footer {
    background-color: $white;
  }
}

.review-summary-row {
  display: flex;
  color: $primary;

  .rating {
    flex-grow: 1;

    font-weight: bold;
    text-align: end;
  }
}

.search-result-img {
  object-fit: cover;
  height: 100%;
}

.tag-filter-links {
  display: flex;
  flex-wrap: wrap;

  a {
    display: flex;
    align-items: center;

    text-decoration: none;

    i {
      margin-right: 0.2rem;
      font-size: 1.2rem;
    }
  }
}
