a.location-search-result-link {
  text-decoration: none;

  &:hover {
    .card {
      border: var(--bs-card-border-width) solid  $primary;
    }

    .card-body {
      color: $primary;
    }
  }
}

.review-summary-row {
  display: flex;
  color: $primary;

  .rating {
    flex-grow: 1;

    font-weight: bold;
    text-align: end;
  }
}

.search-result-img {
  object-fit: cover;
  height: 100%;
}
