<div class="container mt-5">
  <%= link_to :back do %>
    <i class="bi bi-arrow-left" aria-hidden="true"></i>
    Back
  <% end %>

  <h2>
    Review for <%= @location.name_utf8 %>, <%= @location.country_name %>
  </h2>

  <%= render partial: "reviews/shared/form",
    locals: {
      location: @location,
      review: @review
    }
  %>
</div>

<%
  set_meta_tags(
    title: "Update your review for #{@location.name_utf8}, #{@location.country_name}",
    description: "Help others with their Digital Nomad adventures by reviewing #{@location.name_utf8}, #{@location.country_name}.",
    index: true,
    follow: true
  )
%>
