<div class="location-admin-actions mb-3">
  <%= link_to(
    upload_banner_image_modal_location_path(location),
    "data-turbo-stream": "",
  ) do %>
    <% if location.banner_image.present? %>
      <i class="bi bi-pencil-fill" aria-hidden="true"></i>
      Update banner image
    <% else %>
      <i class="bi bi-plus-circle-fill" aria-hidden="true"></i>
      Add banner image
    <% end %>
  <% end %>

  <%= link_to edit_location_path(location), class: "ms-3" do %>
    <i class="bi bi-pencil-fill" aria-hidden="true"></i>
    Update location
  <% end %>

  <%= button_to(
    location_path(location),
    method: :delete,
    class: "btn btn-danger ms-3",
    data: {
      turbo_confirm: "Are you sure you want to delete this Location? This action can't be undone"
    },
  ) do %>
    <i class="bi bi-trash-fill" aria-hidden="true"></i>
    Delete location
  <% end %>
</div>
