<div class="mb-3" data-controller="location-tabs">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to(
        "Overview",
        location_path(location),
        class: "nav-link",
        data: {
          "location-tabs-target": "overviewLink"
        }
      ) %>
    </li>
    <li class="nav-item">
      <%= link_to(
        "Visas",
        location_visa_information_path(location_id: location.id),
        class: "nav-link",
        data: {
          "location-tabs-target": "visaLink"
        }
      ) %>
    </li>
  </ul>
</div>
