<div class="location-tabs mb-3" data-controller="location-tabs">
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <%= link_to(
        "Overview",
        location_path(location),
        class: "nav-link",
        data: {
          "location-tabs-target": "overviewLink"
        }
      ) %>
    </li>
    <li class="nav-item">
      <%= link_to(
        "Visas",
        location_visa_information_path(location.id),
        class: "nav-link",
        data: {
          "location-tabs-target": "visaLink"
        }
      ) %>
    </li>
    <li class="nav-item">
      <%= link_to(
        "Reviews",
        location_reviews_path(location_id: location.id),
        class: "nav-link",
        data: {
          "location-tabs-target": "reviewsLink"
        }
      ) %>
    </li>
    <li class="nav-item">
      <%= link_to(
        "Emergency info.",
        emergency_info_location_path(location.id),
        class: "nav-link d-lg-none d-xl-none d-xxl-none",
        data: {
          "location-tabs-target": "emergencyInfoLink"
        }
      ) %>
    </li>
  </ul>
</div>
