<h1><%= @location.name_utf8 %></h1>
<h3><%= @location.country.name %></h3>
<div class="row row-cols-1 row-cols-lg-2">
  <div class="col-12 col-lg-9">
    <%= helper_location_description(location: @location) %>
  </div>

  <hr class="d-lg-none my-4">

  <div class="col-12 col-lg-3">
    <div class="card">
      <div class="card-body">
        TODO additional information here like review summary, weather, links to add a review, etc.
      </div>
    </div>
  </div>
</div>

